<div class="login-wrapper">
  <form class="login" [formGroup]="loginForm">
    <label class="title">
      <h3 class="welcome">Welcome to</h3>
      Company Product Name
      <h5 class="hint">Use your Company ID to sign in or create one now</h5>
    </label>
    <div class="login-group">
      <div class="auth-source select">
        <select formControlName="roles">
          <option [value]="'user'">Local Users</option>
          <option [value]="'admin'">Administrator</option>
        </select>
      </div>
      <input
        class="username"
        type="text"
        formControlName="email"
        placeholder="Username">
      <input
        class="password"
        type="password"
        formControlName="password"
        placeholder="Password">
      <div class="checkbox">
        <input type="checkbox" id="rememberme">
        <label for="rememberme">
          Remember me
        </label>
      </div>
      <div class="error active">
        Invalid user name or password
      </div>
      <button
        class="btn btn-primary btn-block"
        [disabled]="!loginForm.valid"
        (click)="login()">
          Login
      </button>
      <!-- <a href="javascript://" class="signup">Sign up for a Company ID</a> -->
    </div>
  </form>
</div>
